@{
  Layout = "_Layout";
}
@using Factory.Models;
@model Factory.Models.Machine

<h1>Machine Details</h1>

<h2>@Html.DisplayNameFor(model => model.MachineName): @Html.DisplayFor(model => model.MachineName)</h2>


@if(@Model.JoinEntities.Count == 0)
{
    <p>You have not added any Engineers that can run this Machine Yet</p>
}
else
{
    <ul>
        @foreach (MachineEngineer item in Model.JoinEntities)
        {
            <li>Engineers Able to Work: @item.Engineer.EngineerName</li>
            @using (Html.BeginForm("DeleteItem","Locations"))
            {
                @Html.Hidden("ItemId", @item.MachineEngineerId)
            }
            
        }
    </ul>
}

<p>@Html.ActionLink("Back to Machines List", "Index")</p>
<p>@Html.ActionLink("Add an Engineer to Work a Machine", "AddEngineer", new {id = Model.MachineId})</p>
<p>@Html.ActionLink("To Homepage", "Index", "Home")</p>
