@{
  Layout = "_Layout";
}


@using Factory.Models;
@model Factory.Models.Engineer


<h1>Engineer Details</h1> 

<h2>@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)</h2>

@if(@Model.JoinEntities.Count == 0)
{
  <p>No engineers have machinces assigned yet</p>
}
else
{
  <ul>
    @foreach (MachineEngineer fish in Model.JoinEntities)
    {
      <li> Trained to work on: @fish.Machine.MachineName</li>
      @using (Html.BeginForm("DeleteFish", "Engineers"))
      {
        @Html.Hidden("FishId", fish.MachineEngineerId)
      }
      
    }
    </ul>
}
    <p>@Html.ActionLink("Back to Engineers", "Index")</p>
    <p>@Html.ActionLink("Add a machine to an Engineer", "AddMachine", new {id = Model.EngineerId})</p>
   <p>@Html.ActionLink("Back to Homepage", "Index", "Home")</p>


