@{
  Layout = "_Layout";
}

@using Factory.Models;


<h4>Engineer List</h4>
@if (Model["engineers"].Length == 0)
{ 
  <p>No engineers have been added.</p>
}
else
{
  @foreach (Engineer engineer in Model["engineers"])
  {
    @Html.ActionLink($"{@engineer.EngineerName}", "Details", "Engineers", new { id = @engineer.EngineerId})<br>
  }
}
<br>
<h4>Machine List</h4>
@if (Model["machines"].Length == 0)
{
      <p>No machines have been added.</p>
}
else
{
  @foreach (Machine machine in Model["machines"])
  {
    @Html.ActionLink($"{@machine.MachineName}", "Details", "Machines", new { id = @machine.MachineId})<br>

  }
}
<br><br>
<p>@Html.ActionLink("Add/Edit Engineers", "Index", "Engineers")</p>
<p>@Html.ActionLink("Add/Edit Machines", "Index", "Machines")</p>
